body {
    font-family: Arial, sans-serif;
    text-align: center;
    padding: 20px;
    margin-top: 50px;
    background-color: #f0f0f0;
    background-image: url('./コキアさん背景.png');
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
    
}

h1 {
    background: #a5caa7;
    color: white;
    padding: 15px;
}


button {
    background-color: #4CAF50;
    color: white;
    padding: 50px 70px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 40px;
}

#message-1 {
    font-size: 40px;
    margin-top: 30px;
    color: #333;
}

#message-2 {
    font-size: 40px;
    margin-top: 30px;
    color: #000000;
    display: inline-block;
    background-color: #e7fce4;
    border-radius: 20px;
    padding: 50px 40px;
}

#kokia-image {
    display: block;
    margin: 20px auto;
}

#kokiageddan {
    display: none;
    margin: 20px auto;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background-color: #000;
}

#omikuji-start {
   position: fixed;
   top: 0;  
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    object-fit: cover;
    display: none;
}